USE [dbItemsTrabajo]
GO
/****** Object:  Table [dbo].[dato_item_trabajo]    Script Date: 06/03/2026 22:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dato_item_trabajo](
	[ittr_id] [bigint] IDENTITY(1,1) NOT NULL,
	[ittr_titulo] [varchar](50) NULL,
	[ittr_fecha_entrega] [datetime] NULL,
	[ittr_relevancia] [varchar](50) NULL,
	[ittr_usuario_asignado] [varchar](150) NULL,
	[ittr_completado] [bit] NULL,
 CONSTRAINT [PK_dato_item_trabajo] PRIMARY KEY CLUSTERED 
(
	[ittr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
