USE [dbUsuarios]
GO
/****** Object:  Table [dbo].[dato_usuario]    Script Date: 06/03/2026 22:49:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dato_usuario](
	[usua_id] [bigint] IDENTITY(1,1) NOT NULL,
	[usua_nombre] [varchar](150) NULL,
 CONSTRAINT [PK_dato_usuario] PRIMARY KEY CLUSTERED 
(
	[usua_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
